{% extends 'base.html.twig' %}

{% block title %}Allergène{% endblock %}

{% block body %}
    <h1 class="text-center m-3">Edition d'un Allergène</h1>
    <div>
        {{ include('allergen/_form.html.twig', {'button_label': 'Sauvegarder'}) }}

        <div class="d-flex">
            <a class="btn btn-danger btn-rounded btn-sm my-0 mr-3" href="{{ path('allergen_index') }}">Revenir à la liste</a>

            {{ include('allergen/_delete_form.html.twig') }}
        </div>
{% endblock %}

{% block javascript %}

{% endblock %}
