{% extends 'base.html.twig' %}

{% block title %}Image{% endblock %}

{% block body %}
    <h1 class="text-center py-4">Importer une image</h1>

    {{ include('image/_form.html.twig') }}

    <a class="btn btn-danger btn-rounded btn-sm my-0" href="{{ path('image_index') }}">Revenir à la liste</a>
{% endblock %}
