{% extends 'base.html.twig' %}

{% block title %}Prix d'association{% endblock %}

{% block body %}
    <h1 class="text-center">Edition d'un prix d'association</h1>

    {{ include('priceassoc/_form.html.twig', {'button_label': 'Sauvegarder'}) }}

    <a class="btn btn-danger btn-rounded btn-sm my-0 mb-3" href="{{ path('priceassoc_index') }}">Revenir à la liste</a>

    {{ include('priceassoc/_delete_form.html.twig') }}
{% endblock %}
