{% extends 'base.html.twig' %}

{% block title %}Prix d'associations{% endblock %}

{% block body %}

<div class="card">
  <h1 class="card-header text-center font-weight-bold text-uppercase py-4">Prix des associations</h1>
  <div class="card-body">
    <div id="table" class="table-editable">
      <span class="table-add float-right mb-3 mr-2"><a href="#!" class="text-success"><i
            class="fas fa-plus fa-2x" aria-hidden="true"></i></a></span>
      <table class="table table-bordered table-responsive-md table-striped text-center">
        <thead>
          <tr>
            <th>Numéro de l'association</th>
            <th>Prix</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for priceassoc in priceassocs %}
            <tr>
                <td>{{ priceassoc.id }}</td>
                <td>{{ priceassoc.value }} €</td>
                <td>
                    <a class="btn btn-danger btn-rounded btn-sm my-0" href="{{ path('priceassoc_show', {'id': priceassoc.id}) }}">Afficher</a>
                    <a class="btn btn-danger btn-rounded btn-sm my-0" href="{{ path('priceassoc_edit', {'id': priceassoc.id}) }}">Editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
