#header {
    background: #000;
    border-radius: 0;
    margin: 0;
    position: fixed;
    width: 100%;
    z-index: 999;
}
#header a {
    text-decoration: none;
}
#header a span{
    color: white;
}
#sidebar {
    position: fixed;
    z-index: 99;
    width: 220px;
    min-height: 100%;
    background: #ee1c22;
    padding-top: 50px;
    margin-top: 10px;
}

#sidebar ul {
    list-style-type: none;
    padding: 0;
}
#sidebar ul li {
    color: white;
    font-size: 20px;
    border-bottom: solid white 2px;
}
#sidebar ul li a {
    display: block;
    font-size: 16px;
    border-bottom: solid white 1px;
    color: #fff;
    text-decoration: none;
    text-transform: none;
    padding: 7px 20px;
}
#sidebar ul li div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-transform: none;
    font-size: 12px;
    text-align: end;
    padding-right: 20px;
    background: #984c4e;
}

#sidebar ul li div a{
    border: none;
    display: flex;
    flex-direction: column;
    text-transform: none;
    font-size: 12px;
    text-align: end;
    margin: 0 0 0 20px;
    padding: 2px;
}
#sidebar ul li div a:last-child{
    border:none
}
#main{
    margin-left: 220px;
    padding: 60px 15px 40px;
}
.command{
    border: solid black;
    margin: 10px;
}
.command .header{
    border-bottom: solid black;
}

.email-headband {
    margin-bottom: 20px;
    background: url("../../img/mail/email.jpg") center / cover no-repeat;
    min-height: 200px;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, .65);
}

.email-headband-welcome {
    margin-bottom: 20px;
    background: url("../../img/mail/bienvenue.jpg") center / cover no-repeat;
    min-height: 200px;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, .65);
}

.email-headband-security {
    margin-bottom: 20px;
    background: url("../../img/mail/security.jpg") center / cover no-repeat;
    min-height: 200px;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, .65);
}

.email-svg {
    width: 50px;
    height: 50px;
    fill: green;
}

