#header {
    background: #ee1b22;
    border-radius: 0;
    margin: 0;
    position: fixed;
    width: 100%;
    z-index: 999;
}
a {
    text-decoration: none;
    color: white;
}
#header a span{
    color: white;
    font-weight: bold;
}
#header button {
    color: rgba(0, 0, 0, .65)!important;
    font-weight: bold;
}
#sidebar {
    position: fixed;
    z-index: 99;
    width: 220px;
    min-height: 100%;
    background: #000000de;
    padding-top: 50px;
    margin-top: 10px;
}

#sidebar {
    display: flex;
    align-items: center;
    margin: 0;
}

#sidebar ul {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    list-style-type: none;
    padding: 0;
}
#sidebar ul li {
    display: flex;
    flex-flow: column;
    justify-content: start;
    align-items: start;
    margin-left: 5px;
    color: white;
    font-size: 20px;
    margin-bottom: 20px;
}
#sidebar ul li a {
    display: block;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    text-transform: none;
}

#sidebar ul li > a {
    font-weight: bold;
    padding-left: 5px;
    color: rgba(238, 27, 34, .75);
}
#sidebar ul li div a{
    border: none;
    display: flex;
    flex-direction: column;
    text-transform: none;
    font-size: 12px;
    text-align: start;
    margin: 0 0 0 20px;
    padding: 2px;
}
#sidebar ul li div a:last-child{
    border:none
}
#main{
    margin-left: 220px;
    padding: 135px 15px 40px;
}

.btn {
    color: white!important;
}

.command{
    border: solid black;
    margin: 10px;
}
.command .header{
    border-bottom: solid black;
}
.prices{
    background: #b0acb3;
    padding: 5px;
    margin: 10px 0px;
}

.assoc{
    background: #b0acb3;
    padding: 5px;
    margin: 10px 0px;
}
.email-headband {
    margin-bottom: 20px;
    background: url("../../img/mail/email.jpg") center / cover no-repeat;
    min-height: 200px;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, .65);
}

.email-headband-welcome {
    margin-bottom: 20px;
    background: url("../../img/mail/bienvenue.jpg") center / cover no-repeat;
    min-height: 200px;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, .65);
}

.email-headband-security {
    margin-bottom: 20px;
    background: url("../../img/mail/security.jpg") center / cover no-repeat;
    min-height: 200px;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, .65);
}

.email-svg {
    width: 50px;
    height: 50px;
    fill: green;
}

.jumbotron{
    background: #ee1c22;
}

button {
    cursor: pointer;
}

.btn-menu, .btn-menu label {
    display: none;
}

@media screen and (max-width: 600px) {

    .username {
        color: white;
    }

    .user btn {
        margin-top: 15px;
    }

    #main {
        margin: 0!important;
    }

    body {
        overflow: hidden;
    }

    #sidebar {
        position: fixed;
        top: 0;
        width: 75%; height: 100vh;
        transform: translateX(-100%);
        overflow: scroll;
        z-index: 2000;
    }

    nav {
        max-width: 100%;
    }

    nav a {
        width: 100%;
    }

    .btn-menu {
        display: flex;
        justify-content: flex-end;
        padding: .5em 0;
        background: #ee1b22;
    }

    .btn-menu button {
        border: none; background: none;
        padding: 0;
        width: 4rem;
        margin-right: 5%;
    }

    .btn-menu svg {
        fill: #fff;
    }

    .with #sidebar {
        transform: translateX(0);
    }
}

/** Table **/

.pt-3-half {
    padding-top: 1.4rem;
    }
