{% extends 'base.html.twig' %}

{% block title %}Edition d'un produit{% endblock %}

{% block body %}
    <h1>Edition d'un produit</h1>

    <div>
        {{ include('product/_form.html.twig', {'button_label': 'Sauvegarder'}) }}

        <a style="width: 150px;" style="color: white;" class="mb-3 d-flex justify-content-center align-items-center btn btn-danger btn-rounded mr-2" href="{{ path('product_index') }}">Revenir à la liste</a>

        <a style="width: 150px;" style="color: white;" class="d-flex justify-content-center align-items-center btn btn-danger btn-rounded mr-2">{{ include('product/_delete_form.html.twig') }}</a>
    </div>
{% endblock %}
