{% extends 'base.html.twig' %}

{% block title %}Nouveau{% endblock %}

{% block body %}
    <h1 class="text-center m-5">Créer un nouveau produit</h1>

    <tr>{{ include('product/_form.html.twig') }}</tr>

    <a style="width: 150px;" class="d-flex justify-content-center align-items-center btn btn-danger btn-rounded mr-2" href="{{ path('product_index') }}">Revenir à la liste</a>
{% endblock %}
